<div class="row my-4 justify-content-center">
  <app-spinner></app-spinner>
  <div
    class="col-md-12 col-lg-8"
    *ngIf="(spinnerService.isLoading$ | async) === false"
  >
    <ng-container *ngIf="tasksStore.tasks$ | async as tasks">
      <p *ngIf="tasks.length === 0; else elseBlock">No Tasks Added!</p>
      <ng-template #elseBlock>
        <ul class="list-group">
          <app-task-item
            *ngFor="let task of tasks"
            [task]="task.task"
            [time]="task.time"
            [taskId]="task.id"
            @item
          ></app-task-item>
        </ul>
      </ng-template>
    </ng-container>
  </div>
</div>
